<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>我爱秀小说网书籍</title>
    <link rel="stylesheet" href="__CSS__/bootstrap-4.0.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="__CSS__/mycss.css">
    <script src = "__CSS__/jquery/jquery.js"></script>
    <script src = "__CSS__/bootstrap-4.0.0-dist/js/bootstrap.js"></script>
    <script src = "__CSS__/bootstrap-paginator/bootstrap-paginator.js"></script>

</head>
<body>
<script>

</script>
</body>
</html>