<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="../../index/index/uploadbook" method="post" enctype="multipart/form-data">



    <div class="container-fluid">
        <label for="bookfile">书籍文件</label>
        <input type="file" name="bookfile" id="bookfile">
    </div>
    <div>
        <label for="bookname">书籍名称</label>
        <input type="text" name="bookname" id="bookname">

    </div>
    <div>
        <label for="bookauthor">作者</label>
        <input type="text" name="bookauthor" id="bookauthor">

    </div>
    <div>
        <label for="bookIntro">简介</label>
        <textarea type="" name="bookIntro" id="bookIntro"></textarea>

    </div>
    <div>
        <label for="booktype">类型</label>
        <textarea type="" name="booktype" id="booktype"></textarea>

    </div>
    <div>
        <label for="bookIcon">封面图片</label>
        <input type="" name="bookIcon",id="bookIcon">

    </div>

    <input type="submit">




</form>
</body>
</html>