* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #fafafa;
}

.header{
    height: 120px;
    background-color: #ffffff;
}
.inner{
    width: 1200px;
    height: 120px;
    background-color: #ffffff;
    margin:  auto;
    line-height: 120px;
}
.logo{
    width: 500px;
    height: 120px;
    background-color: #0000cc;
    float: left;
}

.im{
    width:500px;
    height: 120px;
}
.nav{
    float: right;
}
li{
    list-style: none;/*取消小点*/
}
.nav li{
    float: left;
    padding: 10px;

}
.nav li a{
    color: #333333;
    text-decoration: none;
}
.nav li a:hover{
    color: red;
}
/*bannar设置*/
.banner{
    height:620px ;
   background: url("../image/banner.jpg") no-repeat top center;
}
/*服务模块设置*/
.service{
    border-radius: 50px;
    width: 1055px;
    margin: 75px auto 0px ;
}
.service_head{
    border-top: 1px solid #CCCCCC;
    width: 1000px;
    margin: 0 30px;

}
.service_head h3 {
    width: 170px;
    height: 45px;
    margin: -12px auto 0;
}

.service_head p{
    margin: 20px 20px 0 20px;
    text-align: center;

}
.service-bd{
    margin-top: 30px;
    overflow: auto;

}
.service-bd li{
    width: 300px;
    height: 600px;
    float: left;
}
.zhongjian{
    margin: 0px 75px;
}
.service-bd img{
    width: 300px;
    height: 300px;
    margin: 0 auto;

}
.service-bd h3{
    text-align: center;
}
.service-bd p{
    margin: 30px 15px;
    text-align: center;
}
.service-bd a{
    display: block;
    width: 100px;
    color: #ff2222 ;
    text-decoration: none;
    text-align: center;
    margin: 30px auto;
    border: 1px solid #ff2222;
    //background-color: red;
    border-radius: 5px;

}
.service-bd a:hover{
    color: #ffffff ;
    background-color: #ff2222;

}
.case{
    width: 1055px;
    height: 500px;
    background-color: white;
    margin: 100px auto 0;
}
.case_body{
    position: relative;
}
.case_body li{
    width: 300px;
    height: 300px;

    float: left;
    position: relative;

}
.case_body li p{
    position: absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgba(1.0,1.0,1.0, 0.3);
   line-height: 60px;
}
.case_body ul{
     margin: 40px 20px;
 }

.case_body img{
    width: 300px;
    height: 300px;
    margin: 0 auto;

}
.case_body_mid{
    margin: 0px 50px ;
}
.mask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4) url("../image/w.jpg") center  no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    display:  none;
}
.case_body li:hover .mask{
    display: block;

}
.left1 , .right1{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #2b542c;
    position: absolute;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    font-size: 25px;
    top: 100px;
}
.left1{
    left:-90px;
}

.right1{
    right:-90px;

}
.right1:hover{
    color: white;
}
.right1:hover,.left1:hover{
    background-color: red;
    color: white;
}
.meida{
    width: 1055px;
    height: 450px;
    background-color: white;
    margin: 100px auto 0;

}
.media-bd{
    height: 320px;
    overflow: hidden;
    margin: 50px auto;

}
.media-bd ul{
    height: 310px;
    width: 1110px;
    overflow: hidden;
;
}
.media-bd li{
    width: 212px;
    height: 104px;
    float: left;
    border-bottom: 1px dashed chartreuse;
    border-right: 1px dashed chartreuse;
}
.media-bd li img{
    display: block;
    width: 100%;
    height: 100%;
    /*background-image: url("../image/log.png");*/
}
.footer{
    height: 200px;
   background-color: #0f0f0f;

}
.footer p{
    padding: 30px;
    margin: 0 auto;
    width: 1050px;
    height: 30px;
    font-size: 20px;
    text-align: center;
    color: white;
}
.footer p a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.footer p a:hover{
    color: red;
    text-decoration: underline;
}

